/***Scrool bar style / CHROME***/
@media screen and (min-width: 767px) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
  }
}

body {
  background: #354a5f;
  min-height: 100vh;
  font-family: 'Biryani';
  color: #fff;
}

form {
  margin-top: 50px;
  text-align: center;
}

form h1 {
  font-weight: bold;
  font-size: 48px;
}

form hr {
  width: 150px;
  border: 0.1em solid #01d4e7;
}

form div.notebookframe {
  position: relative;
  margin-top: 30px;
  height: 150px;
  width: 600px;
  background-color: #fff;
  color: #354a5f;
  font-size: 18px;
  font-weight: bold;
}

form div.notebookframe div {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: solid 3px #c2c6ca;
}

form div.notebookframe div:hover #clearTime {
  display: initial;
  font-size: 14px;
}

form div.notebookframe label {
  width: 200px;
  border-right: solid 4px #f08176;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

form div.notebookframe label span {
  color: #f08176;
  font-size: 14px;
  margin-left: 5px;
}

form div.notebookframe label #clearTime {
  font-size: 0px;
  margin-left: 8px;
  margin-bottom: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

form div.notebookframe label #clearTime:hover {
  opacity: 0.6;
  cursor: pointer;
}

form div.notebookframe input, form div.notebookframe textarea {
  resize: none;
  position: absolute;
  right: 10px;
  width: 370px;
  border: none;
  height: 40px;
  text-align: left;
  padding: 5px;
}

form div.notebookframe textarea:focus {
  height: 80px;
  top: 0;
  z-index: 2;
}

form div.notebookframe input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 20px;
}

form div.notebookframe input::-webkit-inner-spin-button {
  position: absolute;
  right: 0;
}

form div.notebookframe div.notebooktop {
  border: none;
}

form div.notebookframe div.notebook-corner {
  border-left: 30px solid transparent;
  border-right: 30px solid #354a5f;
  border-top: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

form button.button {
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px 7px 20px;
  margin-top: 30px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

form button.button:hover {
  color: #354a5f;
  background: #fff;
}

form button.addbutton {
  background: #27ae61;
  margin-right: 15px;
}

form button.resetbutton {
  background: #e74c3c;
}

main.notesblock {
  margin: 10px 50px 30px 50px;
  color: #354a5f;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main.notesblock .animation {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

main.notesblock div.noteframe {
  display: inline-block;
  width: 300px;
  height: 300px;
  background: #f1c40e;
  position: relative;
  margin: 20px;
}

main.notesblock div.noteframe i {
  font-size: 1px;
  position: absolute;
  right: 5px;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

main.notesblock div.noteframe i:hover {
  opacity: 0.7;
}

main.notesblock div.noteframe p {
  width: 100%;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

main.notesblock div.noteframe div.notebottom {
  padding: 15px;
  width: 100%;
  height: 50px;
  background: #ffd403;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  font-style: italic;
}

main.notesblock div.noteframe div.notebottom span {
  margin-left: 15px;
}

main.notesblock div.noteframe div.note-corner {
  border-left: 30px solid transparent;
  border-right: 30px solid #354a5f;
  border-top: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

main.notesblock div.noteframe:hover i {
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  form h1 {
    font-size: 35px;
  }
  form hr {
    width: 100px;
  }
  form div.notebookframe {
    height: 120px;
    width: 300px;
    font-size: 10px;
  }
  form div.notebookframe div {
    height: 40px;
    border-top-width: 1.5px;
  }
  form div.notebookframe div:hover #clearTime {
    font-size: 8px;
  }
  form div.notebookframe label {
    width: 100px;
    border-right-width: 2px;
    margin-left: 7px;
  }
  form div.notebookframe label span {
    font-size: 7px;
    margin-left: 2px;
  }
  form div.notebookframe label #clearTime {
    font-size: 8px;
    margin-left: 4px;
    display: initial;
  }
  form div.notebookframe input, form div.notebookframe textarea {
    right: 5px;
    width: 180px;
    height: 30px;
    padding: 2px;
  }
  form div.notebookframe textarea:focus {
    height: 60px;
  }
  form div.notebookframe div.notebook-corner {
    border-left: 20px solid transparent;
    border-right: 20px solid #354a5f;
    border-top: 20px solid transparent;
  }
  main.notesblock {
    margin: 10px 20px 20px 20px;
  }
  main.notesblock div.noteframe {
    width: 200px;
    height: 200px;
    margin: 15px;
  }
  main.notesblock div.noteframe div.note-corner {
    border-left: 20px solid transparent;
    border-right: 20px solid #354a5f;
    border-top: 20px solid transparent;
  }
}
/*# sourceMappingURL=style.css.map */